|Form to send invitation here

h2 Your refferal link:

= link_to root_url(:ref_id => current_user.id), root_url(:ref_id => current_user.id)

.js-fb-ref

a.js-invite-friends href="#" Invite friends from facebook
