.input-center {
  width: 65px;
  .form-control {
    text-align: center;
  }
}

.line-item {
  line-height: 30px;
  vertical-align: middle;
  .form-control {
    width: 50px;
    position: relative;
    top: 1px;
    text-align: center;
  }
}

.input-cart-quantity {
  .input-group-addon {
    padding-left: 5px;
    padding-right: 5px;
  }
  .form-control {
    height: 30px;
  }
}

.line-item-options {
  font-size: 12px;
  margin-left: 5px;
}

.line-item-note {
  font-style: italic;
  font-size: 13px;
}
