.restaurant {
  // display: block;
  color: #eaeaea;
  h3 {
    margin: 0 -15px;
    border-top: 1px solid $thumbnail-border;
    padding-top: 10px;
    font-size: 15px;
  }
  h5 {
    margin: 0 -15px;
    height: 15px;
    overflow: hidden;
  }
  &:hover {
    border-color: $thumbnail-border !important;
    box-shadow: 0px 0px 35px 3px rgba(115,112,100,0.8);
    text-decoration: none;
  }
}

.restaurants-promo {
  background: #faf8ed;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  padding: 30px 0;
  .restaurant {
    h5 {
      display: none;
    }
  }
}

.restaurants-top-block {
  overflow: hidden;
}

.restaurant-menu {
  padding-top: 30px;
  padding-bottom: 70px;
}

.restaurant-menu-heading {
  overflow: hidden;
  padding: 30px 0;
  h2 {
    margin-top: 5px;
  }
}

.restaurant-buttons {
  margin-top: 48px;
}

.restaurant-work-hours {
  height: 38px;
  line-height: 38px;
  background: #fffdfd;
  border: 1px solid #d8d8d8;
  padding: 0 15px;
}
