$('.js-msg-holder').html('<br/><br/><div class="alert alert-info">We\'ve resent your confirmation code. <%=j button_to "Send code again", send_code_again_path(:format => :js), :remote => true, :method => :post, :class => "send-again-link" %></div>');
$('.js-confirm-phone').removeClass('hidden');
