$font-family-sans-serif: 'Raleway', sans-serif;
$body-bg: #fffffa;

$border-radius-base: 0;
$border-radius-large: 3px;

$navbar-margin-bottom: 0;
$navbar-default-bg: #d44c1f;
$navbar-default-color: #fff;
$navbar-default-link-color: #fff;
$navbar-border-radius: 0;
$navbar-height: 65px;
$navbar-default-link-hover-color: #fac0ba;
$navbar-default-link-active-color: #fac0ba;

$link-color: #b93434;

$input-height-base: 38px;
$input-border-radius: 2px;
$input-height-large: 52px;

$container-desktop: 930px;
$container-large-desktop: $container-desktop;


$nav-pills-active-link-hover-bg: #d44c1f;
$nav-tabs-active-link-hover-color: #450305;

$brand-success: #7DB461;
$btn-default-bg: #d5d5d7;
$btn-default-color: #515151;
