/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require kingadmin/bootstrap.min.css
 *= require kingadmin/main.css
 *= require kingadmin/my-custom-styles.css
 *= require jquery-ui/datepicker
 *= require_self
 */

@import "font-awesome";

.category-label {
  line-height: 31px;
}

.nested-fields {
  h3 {
    margin-top: 0;
  }
  padding-bottom: 30px;
}

.product-fields {
  padding-bottom: 20px;
}
.breadcrumb {
  margin-bottom: 0;
}

.table-link {
  &.danger {
    color: #DB3833 !important;
  }
}

.search-form-group {
  position: relative;
  .fa {
    position: absolute;
    top: 0;
    left: 100%;
    margin-left: -20px;
    display: block;
    height: 34px;
    line-height: 34px;
  }
}
