// Bootstrap
@import "font-awesome";
@import "variables";
@import "bootstrap-sprockets";
@import "bootstrap";

@import "blocks/locations";
@import "blocks/restaurants";
@import "blocks/products";
@import "blocks/location_picker";
@import "blocks/cart";
@import "blocks/pills";
@import "blocks/order";
@import "blocks/buttons";
@import "blocks/share";
@import "blocks/ref_landing";

.footer {
  padding: 12px;
  background: #f5f5f5;
}

  .footer-links {
    display: inline-block;
    margin-left: 20px;
    a {
      color: #999999;
    }
  }

#error_explanation {
  padding: 15px;
  background: $state-danger-bg;
  color: $state-danger-text;
  border-radius: $border-radius-base;
  margin-bottom: 15px;
  h2 {
    margin: 0;
    font-size: 20px;
  }
}

.form-control {
  font-size: 13px;
}

.field_with_errors {
  .form-control {
    border-color: #b93434;
  }
}

.text-page {
  padding: 40px 0;
}

.navbar-brand {
  background: inline("logo.png") no-repeat;
  width: image-width("logo.png");
  height: image-height("logo.png");
}
