// Bootstrap
@import "variables";
@import "bootstrap-sprockets";
@import "bootstrap";

@import "blocks/locations";
@import "blocks/restaurants";
@import "blocks/products";
@import "blocks/location_picker";
@import "blocks/cart";

.footer {
  padding: 20px 0;
}

#error_explanation {
  padding: 15px;
  background: $state-danger-bg;
  color: $state-danger-text;
  border-radius: $border-radius-base;
  margin-bottom: 15px;
  h2 {
    margin: 0;
    font-size: 20px;
  }
}
